@import '../../../../../global/style.module.scss';
.header{
    width: 100%;
    height: $header_height;
    background: $headere_bg;
    display: flex;
    color: #ffff;
    justify-content: space-between;
    

    header{
        display: inline-flex;
        align-items: center;
        width: auto;
        height: 100%;
        padding: 0 10px;
        font-family: DINPro;
        font-size: 25px;
    }
    nav{
        display: flex;
        flex-shrink: 0;
        width: auto;
        align-items: center;

        button{
            width: 60px;
            height: 70%;
            font-family: DINPro;
            background: transparent;
            outline: none;
            border: none;
            color: #ffff;
            margin-right: 5px;
            flex-shrink: 0;
            cursor: pointer;
        }
    }
}