@font-face {
    font-family: 'Roboto';
    src: url('../../src/assets/fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../src/assets/fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('../../src/assets/fonts/Roboto-BoldItalic.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Sofia Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Regular\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Bold\ Italic\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Medium\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Medium\ Italic\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Semi\ Bold\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Semi\ Bold\ Italic\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Bold\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Bold\ Italic\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro Black';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Black\ Az.woff')
    }
    

    @font-face {
    font-family: 'Sofia Pro Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Sofia\ Pro\ Black\ Italic\ Az.woff')
    }