$primary_color: #BAFF39;

$strong_gray_theme: #383838;
$gray_theme: #6E6E6E;
$gray_theme_transparent: rgba(110, 110, 110, 0.3);

$theme_gradient:  linear-gradient(260deg, rgba(186, 255, 57, 0.3),rgba(110, 110, 110, 0.3));