//Theme Color Variables
$blue_theme_color: #1E90FF;
$headere_bg: #100c08;

//Dimension Variables

$header_height: 50px;
$main_header_height: 30px;
$sidebar_bg: #343434;
$sidebar_item_bg: #3b444b;
$sidebar_width: 200px;