@import '../../styles/helpers.scss';

.headerWrapper {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header_height;
    padding: 0 20px;
    background-color: $strong_gray_theme;
    font-family: "Roboto Bold";

    .title {
        width: auto;
        height: 60%;
        padding: 0 10px;
        display: inline-flex;
        flex: 1 0 auto;
        align-items: center;
        color: rgb(56, 56, 56);
        background: $primary_color;
        cursor: pointer;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        height: 60%;
        width: 100%;
        color: #ffffff;


        .navItem {
            margin-left: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100%;
            cursor: pointer;
        }
        
    }
}