.multipleChoice_container{
    background: red;
    
    .quiz_container{
        margin: auto;
        width: 70%;
        height: 700px;
        border: solid 0.5px gray;
        padding: 10px;

        button{
            width: 100px;
            height: 50px;
            margin-right: 10px;
            border-radius: 8px;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: rgb(142, 173, 96);
                color: #ffff;
            }
        }
        .question_container{
            width: 100%;
            background: yellow;
            display: flex;
            flex-direction: column;

            .choices_wrapper{
                background: green;
                display: flex;

                input[type="radio"]{
                    
                    width: 15px;
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
        }
        .question{
            width: 100%;
            padding: 40px 10px;
            background: #ffff;
        }

        .choices_wrapper{
            width: 100%;
            display: grid;
            padding: 10px;
            align-content: center;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;

            button{
                width: 200px;
                height: 50px;
                cursor: pointer;
            }
        }
    }
}