.multipleChoice_container{
    background: red;
    
    .quiz_container{
        margin: auto;
        width: 70%;
        height: 700px;
        border: solid 0.5px gray;
        padding: 10px;

        .question{
            width: 100%;
            padding: 40px 10px;
            background: #ffff;
        }

        .choices_wrapper{
            width: 100%;
            display: grid;
            padding: 10px;
            align-content: center;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;

            button{
                width: 200px;
                height: 50px;
                cursor: pointer;
            }
        }
    }
}