@font-face {
    font-family: PingFangSC;
    src: url('../../assets/fonts/PingFang\ SC\ Regular.ttf');
}
@font-face {
    font-family: DINPro;
    src: url('../../assets/fonts/DIN\ Pro\ Bold\ 700.otf');
}

//Theme Color Variables
$blue_theme_color: #1E90FF;
$headere_bg: #3b444b;



//Dimension Variables

$header_height: 50px;